@using Epam.SCS.Entities;
@using Epam.SCS.WebUI.Models;
@{
    if (!User.IsInRole("Admin"))
    {
        Response.SetStatus(HttpStatusCode.Forbidden);
    }
    Page.Title = "Adding skill";
    if (IsPost)
    {
        var title = Request["title"];

        try
        {
            if (String.IsNullOrWhiteSpace(title))
            {
                throw new ArgumentException("Title can't be null or empty");
            }
            Common.SkillBll.Save(new Skill { Title = title });
            Response.Redirect("~/Skills/ShowSkills");
        }
        catch (Exception ex)
        {
            <div class="alert alert-danger">
                @ex.Message
            </div>
        }
    }
}
<form method="post" class="form-inline">
    <div class="form-group">
        <label for="name">Name: </label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
    </div>
    <button type="submit" class="btn btn-success">Add skill</button>
</form>

