@using Epam.SCS.WebUI.Models;
@using Epam.SCS.Entities;
@{
    if (!User.IsInRole("Admin"))
    {
        Response.SetStatus(HttpStatusCode.Forbidden);
    }
    if (IsPost)
    {

        int skillID = int.Parse(Request["skillIDToRemove"]);

        try
        {
            Common.FilterBll.RemoveFromFilter(skillID);
            Response.Redirect("~/Service/GenerateFilter");
        }
        catch (Exception ex)
        {
            <div class="alert alert-danger">
                @ex.Message
            </div>
            <a href="~/Service/GenerateFilter" class="btn btn-primary">Try again</a>
        }
    }

}
