USE [master]
GO
/****** Object:  Database [SkillsControllDB]    Script Date: 06.02.2017 19:32:31 ******/
CREATE DATABASE [SkillsControllDB]
 CONTAINMENT = NONE
ALTER DATABASE [SkillsControllDB] SET COMPATIBILITY_LEVEL = 130
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SkillsControllDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SkillsControllDB]
GO
USE [SkillsControllDB]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Password] [varchar](1000) NOT NULL,
	[Role_ID] [int] NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Image]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Image] [varbinary](max) NOT NULL,
	[ContentType] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Skill]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skill](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Skill] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Surname] [nvarchar](250) NOT NULL,
	[Patronymic] [nvarchar](250) NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Acc_ID] [int] NOT NULL,
	[Image_ID] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersSkills]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersSkills](
	[User_ID] [int] NOT NULL,
	[Skill_ID] [int] NOT NULL,
	[Rate] [int] NOT NULL,
 CONSTRAINT [PK_UsersSkills] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC,
	[Skill_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([ID], [Login], [Password], [Role_ID]) VALUES (1, N'Jeka', N'3C9909AFEC25354D551DAE21590BB26E38D53F2173B8D3DC3EEE4C047E7AB1C1EB8B85103E3BE7BA613B31BB5C9C36214DC9F14A42FD7A2FDB84856BCA5C44C2', 1)
INSERT [dbo].[Account] ([ID], [Login], [Password], [Role_ID]) VALUES (3, N'maksimka', N'3C9909AFEC25354D551DAE21590BB26E38D53F2173B8D3DC3EEE4C047E7AB1C1EB8B85103E3BE7BA613B31BB5C9C36214DC9F14A42FD7A2FDB84856BCA5C44C2', 2)
SET IDENTITY_INSERT [dbo].[Account] OFF
SET IDENTITY_INSERT [dbo].[Image] ON 

SET IDENTITY_INSERT [dbo].[Image] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([ID], [RoleName]) VALUES (2, N'User')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[Skill] ON 

INSERT [dbo].[Skill] ([ID], [Title]) VALUES (2, N'good man')
INSERT [dbo].[Skill] ([ID], [Title]) VALUES (3, N'Pshenichka slayer')
INSERT [dbo].[Skill] ([ID], [Title]) VALUES (4, N'Mr.Baseman')
SET IDENTITY_INSERT [dbo].[Skill] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Name], [Surname], [Patronymic], [DateOfBirth], [Acc_ID], [Image_ID]) VALUES (1, N'Евгений', N'Решетняк', N'Сергеевич', CAST(N'1996-05-31T00:00:00.000' AS DateTime), 1, 4)
INSERT [dbo].[User] ([ID], [Name], [Surname], [Patronymic], [DateOfBirth], [Acc_ID], [Image_ID]) VALUES (3, N'Shershov', N'Denis', N'Andreevich', CAST(N'1995-08-29T00:00:00.000' AS DateTime), 3, 4)
SET IDENTITY_INSERT [dbo].[User] OFF
INSERT [dbo].[UsersSkills] ([User_ID], [Skill_ID], [Rate]) VALUES (1, 2, 7)
INSERT [dbo].[UsersSkills] ([User_ID], [Skill_ID], [Rate]) VALUES (1, 5, 5)
INSERT [dbo].[UsersSkills] ([User_ID], [Skill_ID], [Rate]) VALUES (1, 6, 6)
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF_Account_Role_ID]  DEFAULT ((2)) FOR [Role_ID]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Image_ID]  DEFAULT ((4)) FOR [Image_ID]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Account] FOREIGN KEY([Acc_ID])
REFERENCES [dbo].[Account] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Account]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Image] FOREIGN KEY([Image_ID])
REFERENCES [dbo].[Image] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Image]
GO
ALTER TABLE [dbo].[UsersSkills]  WITH CHECK ADD  CONSTRAINT [FK_UsersSkills_Skill] FOREIGN KEY([Skill_ID])
REFERENCES [dbo].[Skill] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersSkills] CHECK CONSTRAINT [FK_UsersSkills_Skill]
GO
ALTER TABLE [dbo].[UsersSkills]  WITH CHECK ADD  CONSTRAINT [FK_UsersSkills_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsersSkills] CHECK CONSTRAINT [FK_UsersSkills_User]
GO
/****** Object:  StoredProcedure [dbo].[AddSkill]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddSkill]
@title nvarchar(50)
AS
BEGIN	
	INSERT INTO dbo.[Skill] (Title) VALUES (@title); SELECT scope_identity()
END

GO
/****** Object:  StoredProcedure [dbo].[AddSkillToUser]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddSkillToUser]
@userID int,
@skillID int,
@rate int
AS
BEGIN
INSERT INTO dbo.[UsersSkills] (User_ID, Skill_ID, Rate) VALUES (@userID, @skillID, @rate);
END

GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddUser]
@login varchar(50),
@password varchar(1000),
@name nvarchar(250),
@surname nvarchar(250),
@patronymic nvarchar(250) = null,
@dateOfBirth datetime,
@Id int OUTPUT
AS
BEGIN
INSERT INTO dbo.[Account] (Login, Password) VALUES (@login, @password); 
SET @Id = SCOPE_IDENTITY();
INSERT INTO dbo.[User] (Name,Surname,Patronymic,DateOfBirth,Acc_ID) VALUES (@name,@surname,@patronymic,@dateOfBirth,@Id); 
SET @Id = SCOPE_IDENTITY();
END

GO
/****** Object:  StoredProcedure [dbo].[AddUserPhoto]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddUserPhoto]
@imageID int,
@id int
AS
BEGIN	
	UPDATE dbo.[User] SET Image_ID=@imageID WHERE ID=@id
END

GO
/****** Object:  StoredProcedure [dbo].[CanRegister]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CanRegister]
@login varchar(50)
AS
BEGIN	
	SET NOCOUNT ON;
	SELECT Login FROM dbo.Account WHERE Login=@login
END

GO
/****** Object:  StoredProcedure [dbo].[ChangeRole]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ChangeRole]
@roleId int,
@id int
AS
BEGIN	
	UPDATE dbo.[Account] SET Role_ID=@roleId WHERE ID=@id
END

GO
/****** Object:  StoredProcedure [dbo].[CheckUser]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckUser]
@login varchar(50),
@password varchar(1000)
AS
BEGIN	
	SET NOCOUNT ON;
	SELECT Login, Password FROM dbo.Account WHERE (Login=@login) AND  (Password=@password)
END

GO
/****** Object:  StoredProcedure [dbo].[ContainsAccount]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ContainsAccount]
@id int
AS
BEGIN	
	SET NOCOUNT ON;
	SELECT ID FROM dbo.[Account] WHERE ID=@id
END

GO
/****** Object:  StoredProcedure [dbo].[ContainsSkill]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ContainsSkill]
@id int
AS
BEGIN	
set nocount on;
	SELECT ID FROM dbo.[Skill] WHERE ID=@id
END

GO
/****** Object:  StoredProcedure [dbo].[GetAccountByID]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAccountByID]
@id int
AS
BEGIN	
SET NOCOUNT ON;
	SELECT ID, Login, Role_ID FROM dbo.[Account] WHERE ID=@id
END

GO
/****** Object:  StoredProcedure [dbo].[GetAccountRole]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAccountRole]
@login varchar(50)
AS
BEGIN	
	SET NOCOUNT ON;
	SELECT RoleName FROM dbo.Role WHERE ID IN (SELECT Role_ID FROM dbo.Account WHERE Login = @login)
END

GO
/****** Object:  StoredProcedure [dbo].[GetAllAccounts]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllAccounts]
AS
BEGIN	
	SET NOCOUNT ON;
	SELECT dbo.Account.ID,dbo.Account.Login, dbo.Role.RoleName FROM dbo.Role INNER JOIN dbo.Account ON dbo.Role.ID=dbo.Account.Role_ID
END

GO
/****** Object:  StoredProcedure [dbo].[GetAllAccountsRoles]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllAccountsRoles]
AS
BEGIN	
	SET NOCOUNT ON;
	SELECT dbo.Role.RoleName FROM dbo.Role INNER JOIN dbo.Account ON dbo.Role.ID=dbo.Account.Role_ID
END

GO
/****** Object:  StoredProcedure [dbo].[GetAllSkills]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllSkills]
AS
BEGIN	
set nocount on;
	SELECT Title, ID FROM dbo.Skill
END

GO
/****** Object:  StoredProcedure [dbo].[GetAllUsers]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllUsers]
AS
BEGIN
	SET NOCOUNT ON;
SELECT 
dbo.[User].ID,
 dbo.[User].Name,
  dbo.[User].Surname,
   dbo.[User].Patronymic,
    dbo.[User].DateOfBirth,
	 dbo.[User].Image_ID,
	  dbo.[Account].Login,
	  dbo.[Account].Password,
	  dbo.[Role].RoleName
	  FROM dbo.[User] INNER JOIN (dbo.[Account] inner join dbo.[Role] on dbo.Account.Role_ID = dbo.Role.ID)
	  ON dbo.[User].Acc_ID = dbo.[Account].ID


END

GO
/****** Object:  StoredProcedure [dbo].[GetFullImage]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetFullImage]
@id int
AS
BEGIN	
	SELECT Image, ContentType FROM dbo.[Image] WHERE ID=@id
END

GO
/****** Object:  StoredProcedure [dbo].[GetIDByAccID]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetIDByAccID]
@id int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT ID FROM dbo.[User] WHERE dbo.[User].Acc_ID = @id
END

GO
/****** Object:  StoredProcedure [dbo].[GetIDByLogin]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetIDByLogin]
	@login varchar(50)
AS
BEGIN
	SET NOCOUNT ON;

  SELECT Acc_ID 
  FROM dbo.[User] inner join dbo.[Account] 
  on ( dbo.[Account].Login = @login AND dbo.[User].Acc_ID = dbo.[Account].ID)
END

GO
/****** Object:  StoredProcedure [dbo].[GetSkillByID]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSkillByID]
@id int
AS
BEGIN	
set nocount on;
	SELECT Title, ID FROM dbo.Skill
END

GO
/****** Object:  StoredProcedure [dbo].[GetUserByID]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserByID]
@Id int
AS
BEGIN
	SET NOCOUNT ON;
SELECT 
dbo.[User].ID,
 dbo.[User].Name,
  dbo.[User].Surname,
   dbo.[User].Patronymic,
    dbo.[User].DateOfBirth,
	 dbo.[User].Image_ID,
	  dbo.[Account].Login,
	  dbo.[Account].Password,
	  dbo.[Role].RoleName
	  FROM dbo.[User] INNER JOIN (dbo.[Account] inner join dbo.[Role] on dbo.Account.Role_ID = dbo.Role.ID)
	  ON dbo.[User].Acc_ID = dbo.[Account].ID
	  WHERE dbo.[User].ID = @Id

END

GO
/****** Object:  StoredProcedure [dbo].[GetUserRole]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserRole]
@login varchar(50)
AS
BEGIN	
set nocount on;
SELECT RoleName FROM dbo.Role WHERE ID IN (SELECT Role_ID FROM dbo.Account WHERE Login = @login)
END

GO
/****** Object:  StoredProcedure [dbo].[GetUsersSkillsByID]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUsersSkillsByID] 	
	@Id int
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
	 dbo.[Skill].ID,
	 dbo.[Skill].Title, 
	 dbo.[UsersSkills].Rate 
	FROM dbo.[Skill] inner join dbo.[UsersSkills] 
	ON (@id = dbo.[UsersSkills].User_ID and dbo.[UsersSkills].Skill_ID = dbo.[Skill].ID)
END

GO
/****** Object:  StoredProcedure [dbo].[RemoveSkill]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveSkill]
@id int
AS
BEGIN	
DELETE FROM dbo.[Skill] WHERE ID=@id
END

GO
/****** Object:  StoredProcedure [dbo].[RemoveUser]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveUser]
@Id int
AS
BEGIN
	SET NOCOUNT ON;
	Declare @accId int;
	SET @accId =( SELECT Acc_ID FROM dbo.[User] Where dbo.[User].ID = @Id);
	DELETE FROM dbo.[User] WHERE ID=@id; 
	DELETE FROM dbo.[Account] WHERE ID=@accId
END

GO
/****** Object:  StoredProcedure [dbo].[RemoveUsersSkill]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveUsersSkill]
	@userID int,
	@skillID int
AS
BEGIN
DELETE FROM dbo.[UsersSkills] WHERE (dbo.[UsersSkills].User_ID = @userID AND dbo.[UsersSkills].Skill_ID = @skillID)
END

GO
/****** Object:  StoredProcedure [dbo].[SavePhoto]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SavePhoto]
@image varbinary(MAX),
@contentType nvarchar(250)
AS
BEGIN	
	INSERT INTO dbo.Image (Image, ContentType) VALUES (@image, @contentType); SELECT scope_identity()
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateSkill]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateSkill]
@id int,
@title nvarchar(50)
AS
BEGIN	
UPDATE dbo.[Skill] SET Title=@title WHERE ID=@id
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateUserInfo]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUserInfo]
@Id int,
@name nvarchar(250),
@surname nvarchar(250),
@patronymic nvarchar(250),
@dateOfBirth nvarchar(250)
AS
BEGIN
UPDATE dbo.[User] SET Name=@name, Surname=@surname, Patronymic=@patronymic, DateOfBirth=@dateOfBirth WHERE ID=@Id
END

GO
/****** Object:  StoredProcedure [dbo].[UserContains]    Script Date: 06.02.2017 19:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UserContains]
@Id int
AS
BEGIN
   SET NOCOUNT ON;
   SELECT ID FROM dbo.[User] WHERE ID=@id
END

GO
USE [master]
GO
