.main-div{
    margin: 0 0 10px;
}
.layout-footer{
    float:none;
    clear:both;  
}
.custom-image{
    padding:0;
    margin: 0;
    width: 100%;
    height: auto;    
    float:left;
    margin:auto auto;
}
.users-div{
    display:inline-block;
}